.calendar {
  padding: $margin;

  background-color: $gray;
}

.calendar__list {
  @include reset-list;
}

.calendar__item {
  margin-bottom: $margin;
}

@media (min-width: $tablet-width) {
  .calendar {
    width: $tablet-width;
    margin: 0 auto;
  }

  .calendar__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .calendar__item {
    width: 30%;
  }
}
