.date-info {
  padding: 5px 0;

  border-top: 1px solid rgba(73,155,234,1);
;
}

.date-info__title {
  margin: 0;

  font-size: 20px;
  color: rgba(73,155,234,1);
}

.date-info__text {
  margin: 0 0 $margin;

  line-height: 24px;
}
