.form {
  display: flex;
  align-items: flex-start;
  border-top: 1px solid $black;
  flex-direction: column;
  padding: 5px 0;
}

.form__label {
  font-weight: 700;
  font-size: 20px;
}

.form__textarea {
  border: 0 solid $black;
  display: block;

  padding: 5px;
  width: 100%;

  font: inherit;
  font-size: 15px;
  line-height: 24px;

  resize: none;
  margin-right: 10px;
  margin-bottom: 10px;
}
