.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px 0;

  border-top: 1px solid $red;
}

.form__label {
  font-weight: 700;
  font-size: 20px;
  color: $red;
}

.form__textarea {
  display: block;
  width: 100%;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 5px;

  font: inherit;
  font-size: 15px;
  line-height: 24px;

  background-color: $pink;
  border: 1px solid $red;

  resize: none;
}
