.table {
  width: 100%;

  border-collapse: collapse;
  border-spacing: 0;
  text-align: center;

  background-color: $gray;
}

.table__month {
  height: 36px;

  font-weight: 700;
  line-height: 36px;
  color: $white;

  background-color: $green;
}

.table__daynames {
  height: 36px;
}

.table__dayname {
  width: 14%;

  vertical-align: middle;
}

.table__day {
  height: 36px;
  padding: 0;

  &:nth-last-child(-n+2) {
    font-weight: 700;
  }

  & a {
    display: block;
    height: 100%;

    color: $black;
  }

  &--active {
    background-color: $white;
  }
}
