$white: #ffffff;
$black: #000000;
$gray: #e7e7e8;
$green: #2a7762;
$red: #ce5264;
$pink: #edcccd;
$font: "Arial", sans-serif;

$margin: 11px;

$mobile-width: 320px;
$tablet-width: 740px;
$desktop-width: 1150px;

$mobile-width-only: 767px;
$tablet-width-only: 1149px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
